{
  "extends": "./node_modules/electrode-archetype-react-component/config/babel/.babelrc",
  "plugins": ["transform-class-properties"],
  "env": {
    "production": {
      "plugins": [["transform-remove-console", { "exclude": [ "error", "warn"] }]]
    }
  }
}
